# mobile data modem - ttyUSB0 device appears 
SUBSYSTEM=="tty", KERNEL=="ttyUSB0", TAG+="systemd", ENV{SYSTEMD_WANTS}="start start_ppp0_device.service"

# Huawei Hilink mobile data device is connected - use lte0 as device name (instead of eth1) and auto-connect via service
# E3372h
SUBSYSTEM=="net", ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14db", NAME="hilink0",  TAG+="systemd", ENV{SYSTEMD_WANTS}="start start_huawei_hilink.service"


