[Unit]
Description=RaspAP daemon
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /etc/raspap/hostapd/servicestart.sh --interface uap0 --seconds 3

[Install]
WantedBy=multi-user.target
